$antiflashwhite: rgb(222, 222, 222);

$blackvampire: rgb(5, 5, 5);


$davygrey: rgb(85, 85, 85);
$gray: rgb(128, 128, 128);
$spirodisco: rgb(34, 208, 251);

$peach: rgb(255, 235, 181);
$lightyellow: rgb(255, 253, 227);
$paleyellow: rgb(255, 247, 196);
$lightred: rgb(255, 208, 207);
$melon: rgb(252, 171, 171);
$tangerineyellow: rgb(255, 204, 0);