$floralwhite03: rgb(255, 249, 237, 0.3);
$floralwhite: rgb(255, 249, 237);
$platinum05: rgb(227, 227, 225, 0.5);
$platinum: rgb(227, 227, 225);
$antiquewhite: rgb(252, 235, 215);
$antiflashwhite: rgb(222, 222, 222);

$blackolive: rgb(59, 59, 59);
$blackchoco: rgb(26, 24, 16);
$blackvampire: rgb(5, 5, 5);

$charcoal: rgb(50, 70, 82);
$davygrey: rgb(85, 85, 85);
$philipsilver: rgb(181, 181, 181);
$lightgrey: rgb(209, 209, 211);