@import '../sass/color.scss';


.calculator {
    background-color: $blackvampire;
    border-radius: 10px;
}

.lightcalculator {
    background-color: $lightyellow;
    color: $blackvampire;
}

.monitor {
    text-align: right;
    margin: 40px 15px 0 0;
    font-size: 45px;

    & .prevmonitor {
        font-size: 20px;
        color: $davygrey;
    }

    & p {
        margin: 0;
    }
}

.theme {
    text-align: right;
    padding-top: 15px;
    margin-right: 15px;
    font-size: 20px;

    & .lighticon {
        color: $blackvampire;
    }
}


.calcbtnContainer {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: auto;
    gap: 5px;
    padding: 10px;

    & button {
        border-radius: 10px;
        height: 50px;
        font-size: 15px;
        cursor: pointer;
    }
}

.btndavygrey {
    background-color: $davygrey;
    color: $antiflashwhite;
}

.btnred {
    background-color: $lightred;
    border-color: $melon;
    color: $blackvampire;
}

.btngrey {
    background-color: $gray;
    color: $antiflashwhite;
}

.btnyellow {
    background-color: $paleyellow;
    border-color: $melon;
    color: $blackvampire;
}

.btnzero {
    grid-column: 1/3;
}

.btndot {
    grid-column: 3/4;
}

.btntotal {
    color: $antiflashwhite;
    background-color: $spirodisco;
    font-weight: 700;
}

.btntotallight {
    color: $blackvampire;
    background-color: $tangerineyellow;
    border-color: $melon;
}